.mapContainer{
    height: 100%;
    width: 100%;
}

/* Marker popup styling overriding */
.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-popup-close-button{
    background-color: black;
    color: white;
}